APP_NAME="Nigmagrid Indonesia"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://your-vercel-domain.vercel.app

LOG_CHANNEL=stderr
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_URL=
MYSQL_PUBLIC_URL=mysql://root:your-password@your-railway-tcp-proxy-domain:your-railway-tcp-proxy-port/railway
MYSQL_URL=
DATABASE_URL=
DB_HOST=
DB_PORT=3306
DB_DATABASE=railway
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=cookie
CACHE_STORE=array
QUEUE_CONNECTION=sync

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local

MAIL_MAILER=log
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"
